<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<table class="table table-striped" id="table1">
    <thead>
        <tr>
            <th>Kode Mata Kuliah</th>
            <th>Nama Mata Kuliah</th>
            <!-- <th>Phone</th>
            <th>City</th> -->
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>JSI61116</td>
            <td>Pemprograman Berbasis Objek</td>
            <!-- <td>076 4820 8838</td>
            <td>Offenburg</td> -->
            <td>
                <a href="/admin/menentukandosen" class="btn btn-primary rounded-pill">Dosen</a>
                <a href="#" class="btn btn-primary rounded-pill">Laporan</a>
            </td>
        </tr>
        <tr>
            <td>JSI62129 </td>
            <td>Pemrograman Web</td>
            <!-- <td>076 4820 8838</td>
            <td>Offenburg</td> -->
            <td>
                <a href="/admin/menentukandosen" class="btn btn-primary rounded-pill">Dosen</a>
                <a href="#" class="btn btn-primary rounded-pill">Laporan</a>
            </td>
        </tr>
        <tr>
            <td>JSI13113</td>
            <td>Pemprograman Teknologi Bergerak</td>
            <!-- <td>076 4820 8838</td>
            <td>Offenburg</td> -->
            <td>
                <a href="/admin/menentukandosen" class="btn btn-primary rounded-pill">Dosen</a>
                <a href="#" class="btn btn-primary rounded-pill">Laporan</a>
            </td>
        </tr>
        <tr>
    </tbody>
</table>