<%- include('layout/head', {judul: 'Tambah RPS'}) %>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
          <div class="d-block mb-4 mb-md-0">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                      <li class="breadcrumb-item">
                          <a href="/dosen">
                              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                                  </path>
                              </svg>
                          </a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="/dosen"> RPS Mata Kuliah
                        </a>
                    </li>
                      <li class="breadcrumb-item active" aria-current="page">Edit RPS Mata kuliah</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div id="main">
        <h2 class="h2">RPS Mata kuliah</h2>
        <section class="section">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Edit RPS</h4>
              </div>
              <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Kode Mata Kuliah</label>
          <input type="kode" class="form-control"  id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nama Mata Kuliah</label>
          <input type="kode" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
       <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Semester</label>
        <select class="form-select" id="country" aria-label="Default select example">
        <option selected>Semester</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="3">4</option>
        <option value="3">5</option>
        <option value="3">6</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Material</label>
        <input type="smstr" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Deskripsi</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal"></button>
    </div>
</form>
</div>

      <%- include('layout/foot-datatable') %>



