<%- include('layout/head', {judul: 'CPMK'}) %>
<div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="/dosen">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen">RPS Mata kuliah</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen/detail">Detail Mata kuliah</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen/revisi">Revisi</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">CPMK</li>
        </ol>
    </nav>
    <h2 class="h2">CPMK Matakuliah</h2>
</div>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="card">
<table>
  <tr>
    <th>CPMK</th>
    <th></th>
  </tr>
  <tr>


    <td>Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web (CP-1, CP-2)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                 <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    
                    <div class="modal-content">
                        <div class="modal-header">
                                    <h1 class="mb-0 h4">CPMK</h1>
                                </div>
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="modal-body">
                                        <label>Mengedit CPMK</label>
                                        <div class="form-group">
                                           <input type="text" placeholder="Masukkan komponen penilaian"
                                    class="form-control">
                                        </div> <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Simpan</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin Ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>


    <td>Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web (CP-1, CP-2)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                 <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Mengubah CPMK</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="50" rows="" value="">Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web (CP-1, CP-2)</textarea>></textarea>
                                        </div> <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Simpan</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin Ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>


    <td>Mahasiswa mampu menggunakan pemograman asynchronous . (CP-2, CP-3)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
               <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Mengubah CPMK</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="50" rows="3" value="">Mahasiswa mampu menggunakan pemograman asynchronous.(CP-2, CP-3)</textarea>></textarea>
                                        </div> <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Simpan</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin Ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>


    <td>Mahasiswa mampu menerapkan keamanan untuk situs web . (CP-2, CP-3)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Mengubah CPMK</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="50" rows="3"></textarea>
                                        </div> <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Simpan</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin Ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>


    <td>Mahasiswa mampu menggunakan dan mendesain format data JSON. (CP-2, CP-3)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
               <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Mengubah CPMK</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="50" rows="3"></textarea>
                                        </div> <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Simpan</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin Ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>


    <td>Mahasiswa mampu deploy aplikasi web ke internet. (CP-2)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Mengubah CPMK</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="50" rows="3"></textarea>
                                        </div> <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Simpan</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin Ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>


    <td></td>
            <td><div class="nav-wrapper position-relative">
                <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
                    <li class="nav-item">
                        <!-- Button Modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-form">
                Tambah</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Tambah</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email"> Menambah CPMK</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="50" rows="3"></textarea>
                                        </div> <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Simpan</button>
                                        </div>
                                    </div>
                            </div>
                        </div>

<%- include('layout/foot') %>
