<%- include('layout/head', {judul: 'Referensi'}) %>
<div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="/dosen">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen">RPS Mata kuliah</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen/detail">Detail Mata kuliah</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen/revisi">Revisi</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Referensi</li>
        </ol>
    </nav>
    <h2 class="h2">Referensi Matakuliah</h2>
</div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Pemograman Web</h4>
                    </div>
                    <div class="card-body">
                        
                        <ul>
                        <li>Kode Mata Kuliah : JSI62129</li>
                        <li>Semester : 4</li>
                        <li>SKS : 4</li>
                        <li>Kurikulum : 2021</li>
                        </ul>
                    </div>
                <div class="card-body">
                    <label for="table-responsive">Utama</label>
                    <div class="table-responsive" name="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-light">
                                <tr>
                                    <th class="border-0 rounded-start">Judul</th>
                                    <th class="border-0">Pengarang</th>
                                    <th class="border-0">Penerbit</th>
                                    <th class="border-0">Tahun</th>
                                    <th class="border-0 rounded-end">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Item -->
                                <tr>
                                    <td class="border-0"> Beginning PHP 5.3 </td>
                                    <td class="border-0 font-weight-bold">Matt Doyle</td>
                                    <td class="border-0 font-weight-bold">Wrox</td>
                                    <td class="border-0 font-weight-bold">2009</td>
                                    <td class="border-0 font-weight-bold">
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">Edit</button>
                                        <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body p-0">
                                                        <div class="card p-3 p-lg-4">
                                                            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                            <div class="text-center text-md-center mb-4 mt-md-0">
                                                                <h1 class="mb-0 h4">Edit</h1>
                                                            </div>
                                                            <form action="#" class="mt-4">
                                                                <!-- Form -->
                                                                <div class="form-group mb-4">
                                                                    <label for="email"><h5>Referensi</h5></label>
                                                                    <div class="form-group">
                                                                        <div class="mb-3">
                                                                            <label for="exampleFormControlInput1" class="form-label">Judul</label>
                                                                            <input type="email" class="form-control" id="exampleFormControlInput1">
                                                                        </div>
                                                                            <label for="exampleFormControlInput1" class="form-label">Pengarang</label>
                                                                            <input type="email" class="form-control" id="exampleFormControlInput1">
                                                                        </div>
                                                                        <div class="mb-3"></div>
                                                                            <label for="exampleFormControlInput1" class="form-label">Penerbit</label>
                                                                            <input type="email" class="form-control" id="exampleFormControlInput1">
                                                                        </div>
                                                                            <label for="exampleFormControlInput1" class="form-label">Tahun</label>
                                                                            <input type="email" class="form-control" id="exampleFormControlInput1">
                                                                    <div class="d-grid">
                                                                        <div class="mb-3"></div>
                                                                        <button type="submit" class="btn btn-gray-800">Selesai</button>
                                                                    </div>
                                                                </div>
                                                        </div>
                            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </li>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                                                        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h2 class="h6 modal-title">Peringatan!</h2>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>Apakah Anda Yakin ingin Menghapus?</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                                                        <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="card-body">
                        <label for="table-responsive">Pendukung</label>
                        <div class="table-responsive" name="table-responsive">
                            <table class="table table-centered table-nowrap mb-0 rounded">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-0 rounded-start">Judul</th>
                                        <th class="border-0">Pengarang</th>
                                        <th class="border-0">Penerbit</th>
                                        <th class="border-0">Tahun</th>
                                        <th class="border-0 rounded-end">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Item -->
                                    <tr>
                                        <td class="border-0"> Beginning PHP 5.3 </td>
                                        <td class="border-0 font-weight-bold">Matt Doyle</td>
                                        <td class="border-0 font-weight-bold">Wrox</td>
                                        <td class="border-0 font-weight-bold">2009</td>
                                        <td class="border-0 font-weight-bold">
                                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">Edit</button>
                                            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body p-0">
                                                            <div class="card p-3 p-lg-4">
                                                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                                <div class="text-center text-md-center mb-4 mt-md-0">
                                                                    <h1 class="mb-0 h4">Edit</h1>
                                                                </div>
                                                                <form action="#" class="mt-4">
                                                                    <!-- Form -->
                                                                    <div class="form-group mb-4">
                                                                        <label for="email">Referensi</label>
                                                                        <div class="form-group">
                                                                           <textarea class="form-group" name="" id="" cols="30" rows="8"></textarea>
                                                                        </div> <br>
                                                                        <div class="d-grid">
                                                                            <button type="submit" class="btn btn-gray-800">Selesai</button>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </li>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                                                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p>Apakah Anda Yakin ingin Menghapus?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>

<%- include('layout/foot') %>