<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link type="text/css" href="../vendor/notyf/notyf.min.css" rel="stylesheet">
    <link type="text/css" href="../css/volt.css" rel="stylesheet">
    <title>Dasboard</title>
</head>
<body>
    <div id="app">

        <%- include('layout/header') %>
        <%- include('layout/sidebar') %>

        <div id="main">
            <section class="section">
                
        <a href="/dosen/cpmk" class="btn btn-secondary" type="button">CPMK</a>
        <a href="/dosen/referensi" class="btn btn-secondary" type="button">Referensi</a>
        <a href="/dosen/penilaian" class="btn btn-secondary" type="button">Komponen Penilaian</a>
        <a href="/dosen/mingguan" class="btn btn-secondary" type="button">Pertemuan Mingguan</a><br><br>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Pemograman Web</h4>
                    </div>
                    <div class="card-body">
                        
                        <ul>
                        <li>Kode Mata Kuliah : JSI62125</li>
                        <li>Semester : 4</li>
                        <li>SKS : 3</li>
                        <li>Kurikulum : 2021</li>
                        </ul>
                    </div>
                </div>
        </div>

    <script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
                            <script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

                            <!-- Vendor JS -->
                            <script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>

                            <!-- Slider -->
                            <script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>

                            <!-- Smooth scroll -->
                            <script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

                            <!-- Charts -->
                            <script src="../../vendor/chartist/dist/chartist.min.js"></script>
                            <script src="../../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js">
                            </script>

                            <!-- Datepicker -->
                            <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

                            <!-- Sweet Alerts 2 -->
                            <script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

                            <!-- Moment JS -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js">
                            </script>

                            <!-- Vanilla JS Datepicker -->
                            <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

                            <!-- Notyf -->
                            <script src="../../vendor/notyf/notyf.min.js"></script>

                            <!-- Simplebar -->
                            <script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

                            <!-- Github buttons -->
                            <script async defer src="https://buttons.github.io/buttons.js"></script>

                            <!-- Volt JS -->
                            <script src="../../assets/js/volt.js"></script>
    
</body>
</html>