<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link type="text/css" href="../vendor/notyf/notyf.min.css" rel="stylesheet">
    <link type="text/css" href="../css/volt.css" rel="stylesheet">
    <title>Dasboard</title>
</head>

<body>

    <div id="app">

        <%- include('layout/header') %>
        <%- include('layout/sidebar') %>

        <div id="main">
            <section class="section">
                <div>
                <a style="float:left;" class="btn btn-secondary" type="button">+ Tambah</a>
                <a href="/dosen/revisi" class="btn btn-secondary" type="button">Revisi</a>
            </div><br>
                <div class="card">
                    <div class="card-header">
                        
                    <div class="card-body">
                        <h4 class="card-title">Pemograman Berbasis Objek</h4>
                        <div class="col-md-6">
                            <div class="form-group row align-items-center">
                                <div class="col-lg-4 col-3">
                                    <label class="col-form-label"><h6>Kode Matkul</h6></label>
                                </div>
                                <div class="col-lg-5 col-9">
                                    <p class="form-control-static" id="staticInput">Qwertyyyyyyyyyyyy</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body"></div>
                </div>
                

            </section>
        </div>
            



                            <script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
                            <script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

                            <!-- Vendor JS -->
                            <script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>

                            <!-- Slider -->
                            <script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>

                            <!-- Smooth scroll -->
                            <script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

                            <!-- Charts -->
                            <script src="../../vendor/chartist/dist/chartist.min.js"></script>
                            <script src="../../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js">
                            </script>

                            <!-- Datepicker -->
                            <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

                            <!-- Sweet Alerts 2 -->
                            <script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

                            <!-- Moment JS -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js">
                            </script>

                            <!-- Vanilla JS Datepicker -->
                            <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

                            <!-- Notyf -->
                            <script src="../../vendor/notyf/notyf.min.js"></script>

                            <!-- Simplebar -->
                            <script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

                            <!-- Github buttons -->
                            <script async defer src="https://buttons.github.io/buttons.js"></script>

                            <!-- Volt JS -->
                            <script src="../../assets/js/volt.js"></script>
</body>

</html>
