<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link type="text/css" href="../vendor/notyf/notyf.min.css" rel="stylesheet">
    <link type="text/css" href="../css/volt.css" rel="stylesheet">
    <title>Dasboard</title>
</head>

<body>

    <div id="app">

        <%- include('layout/header') %>
        <%- include('layout/sidebar') %>

        <div id="main">
            <section class="section">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-0 rounded-start">Pemrograman Berbasis Objek</th>
                                <th class="border-0 rounded-start">
                                <th class="border-0 rounded-start">
                                    <button class="btn btn-secondary" type="button">+</button>


                            </tr>
                        </thead>
                        <tbody>
                            <!-- Item -->
                            <tr>
                                <td class="border-0 font-weight-bold">Kode Mata Kuliah</td>
                                <td class="border-0 text-danger">
                                    </a>
                                </td>
                                <td class="border-0 font-weight-bold">JSI61116</td>
                                <td class="border-0 text-danger">

                                </td>
                            </tr>
                            <td class="border-0 font-weight-bold">Semester</td>
                            <td class="border-0 text-danger">
                                </a>
                            </td>
                            <td class="border-0 font-weight-bold">3</td>
                            <td class="border-0 text-danger">

                            </td>
                            </tr>
                            <td class="border-0 font-weight-bold">SKS</td>
                            <td class="border-0 text-danger">
                                </a>
                            </td>
                            <td class="border-0 font-weight-bold">3</td>
                            <td class="border-0 text-danger">

                            </td>
                            </tr>
                            <td class="border-0 font-weight-bold">Kurikulum</td>
                            <td class="border-0 text-danger">
                                </a>
                            </td>
                            <td class="border-0 font-weight-bold">2021</td>
                            <td class="border-0 text-danger">

                            </td>
                            </tr>


                            <script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
                            <script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

                            <!-- Vendor JS -->
                            <script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>

                            <!-- Slider -->
                            <script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>

                            <!-- Smooth scroll -->
                            <script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

                            <!-- Charts -->
                            <script src="../../vendor/chartist/dist/chartist.min.js"></script>
                            <script src="../../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js">
                            </script>

                            <!-- Datepicker -->
                            <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

                            <!-- Sweet Alerts 2 -->
                            <script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

                            <!-- Moment JS -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js">
                            </script>

                            <!-- Vanilla JS Datepicker -->
                            <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

                            <!-- Notyf -->
                            <script src="../../vendor/notyf/notyf.min.js"></script>

                            <!-- Simplebar -->
                            <script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

                            <!-- Github buttons -->
                            <script async defer src="https://buttons.github.io/buttons.js"></script>

                            <!-- Volt JS -->
                            <script src="../../assets/js/volt.js"></script>
</body>

</html>
