<%- include('layout/head', {judul: 'Penilaian'}) %>
<div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="/dosen">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen">RPS Mata kuliah</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen/detail">Detail Mata kuliah</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen/revisi">Revisi</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Komponen Penilaian</li>
        </ol>
    </nav>
    <h2 class="h2">Komponen Penilaian</h2>
</div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Pemograman Web</h4>
                    </div>
                    <div class="card-body">
                        
                        <ul>
                        <li>Kode Mata Kuliah : JSI62129</li>
                        <li>Semester : 4</li>
                        <li>SKS : 3</li>
                        <li>Kurikulum : 2021</li>
                        </ul>
                    </div>
                </div>

            </section>
        </div>
                        
        <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Komponen Penilaian</th>
    <th>Bobot</th>
    <th></th>
  </tr>
  <tr>
    <td>Kehadiran</td>
    <td>10%</td>
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        <td><div class="nav-wrapper position-relative">
          <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
              <li class="nav-item">
                   <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Komponen Penilaian</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                        <label for="email">Bobot</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                         <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Selesai</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>

    <td>Tugas</td>
    <td>10%</td>
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        <td><div class="nav-wrapper position-relative">
          <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
              <li class="nav-item">
                  <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Komponen Penilaian</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                        <label for="email">Bobot</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                         <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Selesai</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>

    <td>Kuis</td>
    <td>15%</td>
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        <td><div class="nav-wrapper position-relative">
          <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
              <li class="nav-item">
                <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Komponen Penilaian</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                        <label for="email">Bobot</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                         <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Selesai</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>


    <td>UTS</td>
    <td>25%</td>
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        <td><div class="nav-wrapper position-relative">
          <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
              <li class="nav-item">
                <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Komponen Penilaian</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                        <label for="email">Bobot</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                         <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Selesai</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>

    <td>UAS</td>
    <td>40%</td>
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        <td><div class="nav-wrapper position-relative">
          <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
              <li class="nav-item">
                  <!-- Button Modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-form">
                
                Edit</button>
            <!-- Modal Content -->
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card p-3 p-lg-4">
                                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h4">Edit</h1>
                                </div>
                                <form action="#" class="mt-4">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Komponen Penilaian</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                        <label for="email">Bobot</label>
                                        <div class="form-group">
                                           <textarea class="form-group" name="" id="" cols="30" rows="1"></textarea>
                                        </div>
                                         <br>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-gray-800">Selesai</button>
                                        </div>
                                    </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-default">Hapus</button>
                            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="h6 modal-title">Peringatan!</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Apakah Anda Yakin ingin Menghapus?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Hapus</button>
                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </li></button></td>
  </tr>
  <tr>

<%- include('layout/foot') %>