<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="../vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link type="text/css" href="../vendor/notyf/notyf.min.css" rel="stylesheet">
    <link type="text/css" href="../css/volt.css" rel="stylesheet">
    <title>Dasboard</title>
</head>

<body>

    <div id="app">

        <%- include('layout/header') %>
        <%- include('layout/sidebar') %>

        <div id="main">
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Mata Kuliah</h4>
                        <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>CPMK</th>
    <th></th>
  </tr>
  <tr>
    <td>Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web (CP-1, CP-2)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                <p><a href="/cpmk/edit" class="btn btn-secondary" type="button">Edit</a><br></p>
            </li>
            <li class="nav-item">
                <p><a href="/cpmk/hapus" class="btn btn-secondary" type="button">Hapus</a><br></p>
            </li></button></td>
  </tr>
  <tr>
    <td>Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web (CP-1, CP-2)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                <p><a href="/cpmk/edit" class="btn btn-secondary" type="button">Edit</a><br></p>
            </li>
            <li class="nav-item">
                <p><a href="/cpmk/hapus" class="btn btn-secondary" type="button">Hapus</a><br></p>
            </li></button></td>
  </tr>
  <tr>
    <td>Mahasiswa mampu menggunakan pemograman asynchronous . (CP-2, CP-3)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                <p><a href="/cpmk/edit" class="btn btn-secondary" type="button">Edit</a><br></p>
            </li>
            <li class="nav-item">
                <p><a href="/cpmk/hapus" class="btn btn-secondary" type="button">Hapus</a><br></p>
            </li></button></td>
  </tr>
  <tr>
    <td>Mahasiswa mampu menerapkan keamanan untuk situs web . (CP-2, CP-3)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                <p><a href="/cpmk/edit" class="btn btn-secondary" type="button">Edit</a><br></p>
            </li>
            <li class="nav-item">
                <p><a href="/cpmk/hapus" class="btn btn-secondary" type="button">Hapus</a><br></p>
            </li></button></td>
  </tr>
  <tr>
    <td>Mahasiswa mampu menggunakan dan mendesain format data JSON. (CP-2, CP-3)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                <p><a href="/cpmk/edit" class="btn btn-secondary" type="button">Edit</a><br></p>
            </li>
            <li class="nav-item">
                <p><a href="/cpmk/hapus" class="btn btn-secondary" type="button">Hapus</a><br></p>
            </li></button></td>
  </tr>
  <tr>
    <td>Mahasiswa mampu deploy aplikasi web ke internet. (CP-2)</td>
    <td><div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item">
                <p><a href="/cpmk/edit" class="btn btn-secondary" type="button">Edit</a><br></p>
            </li>
            <li class="nav-item">
                <p><a href="/cpmk/hapus" class="btn btn-secondary" type="button">Hapus</a><br></p>
            </li></button></td>
  </tr>
  <tr>
    <td></td>
            <td><div class="nav-wrapper position-relative">
                <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
                    <li class="nav-item">
                        <p><a href="/cpmk/tambah" class="btn btn-secondary" type="button">Tambah</a><br></p>
                    </li>
          </tr>
          <tr>
</table>

</body>
</html>




                            <script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
                            <script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>

                            <!-- Vendor JS -->
                            <script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>

                            <!-- Slider -->
                            <script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>

                            <!-- Smooth scroll -->
                            <script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

                            <!-- Charts -->
                            <script src="../../vendor/chartist/dist/chartist.min.js"></script>
                            <script src="../../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js">
                            </script>

                            <!-- Datepicker -->
                            <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

                            <!-- Sweet Alerts 2 -->
                            <script src="../../vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

                            <!-- Moment JS -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js">
                            </script>

                            <!-- Vanilla JS Datepicker -->
                            <script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

                            <!-- Notyf -->
                            <script src="../../vendor/notyf/notyf.min.js"></script>

                            <!-- Simplebar -->
                            <script src="../../vendor/simplebar/dist/simplebar.min.js"></script>

                            <!-- Github buttons -->
                            <script async defer src="https://buttons.github.io/buttons.js"></script>

                            <!-- Volt JS -->
                            <script src="../../assets/js/volt.js"></script>
</body>

</html>
