<%- include('layout/headM', {judul: 'Beranda'}) %>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Halo <%=nama %></h4>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam suscipit neque, vel rhoncus
                        ex pretium a. Duis varius faucibus vulputate.
                        Phasellus at felis ac nunc sodales vehicula et eget lacus. Cras nisi ligula, luctus ut elit in,
                        varius ullamcorper mauris.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                        Phasellus molestie ornare gravida.
                        Quisque dignissim vulputate massa, et elementum odio maximus ut.
                        Donec pulvinar eget eros id congue. Fusce ac congue libero, ac condimentum libero. Duis vitae
                        libero finibus, lobortis diam eget, viverra sapien.

                    </div>
                </div>
            </section>
<%- include('layout/foot') %>